In [75]:
states = [
    'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'chhattisgarh',
    'goa', 'gujarat', 'haryana', 'himachal pradesh', 'jammu', 'kashmir'
    'jharkhand', 'karnataka', 'kerala', 'madhya pradesh', 'maharashtra',
    'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'punjab',
    'rajasthan', 'sikkim', 'tamil nadu', 'telangana', 'tripura',
    'uttar pradesh', 'uttarakhand', 'west bengal', 'andaman and nicobar islands',
    'chandigarh', 'dadra and nagar haveli and daman and diu', 'delhi',
    'lakshadweep', 'puducherry', 'orissa', 'tami nadu',
    "visakhapatnam", "vijayawada", "guntur", "nellore", "kurnool", "kadapa", "anantapur", "tirupati", "amaravati", "rajahmundry",
    
    # Arunachal Pradesh
    "itanagar", "naharlagun", "tawang", "ziro", "roing", "pasighat", "tezu", "khonsa", "seppa", "along",
    
    # Assam
    "guwahati", "dibrugarh", "silchar", "jorhat", "nagaon", "tezpur", "karimganj", "hailakandi", "north lakhimpur", "diphu",
    
    # Bihar
    "patna", "gaya", "bhagalpur", "muzaffarpur", "purnia", "darbhanga", "bihar sharif", "arrah", "begusarai", "katihar",
    
    # Chhattisgarh
    "raipur", "bilaspur", "durg", "bhilai", "korba", "rajnandgaon", "raigarh", "ambikapur", "jagdalpur", "dhamtari",
    
    # Goa
    "panaji", "margao", "vasco da gama", "ponda", "mapusa", "bicholim", "sanguem", "curchorem", "sanquelim", "canacona",
    
    # Gujarat
    "ahmedabad", "surat", "vadodara", "rajkot", "bhavnagar", "jamnagar", "junagadh", "anand", "gandhinagar", "nadiad",
    
    # Haryana
    "chandigarh", "faridabad", "gurgaon", "rohtak", "panipat", "sonipat", "karnal", "ambala", "yamunanagar", "hisar",
    
    # Himachal Pradesh
    "shimla", "dharamshala", "mandi", "solan", "palampur", "nahan", "baddi", "una", "kullu", "chamba",
    
    # Jharkhand
    "ranchi", "jamshedpur", "dhanbad", "bokaro", "deoghar", "phusro", "hazaribagh", "giridih", "ramgarh", "medininagar",
    
    # Karnataka
    "bangalore", "mysuru", "hubballi", "mangaluru", "belagavi", "davanagere", "ballari", "vijayapura", "kalaburagi", "shivamogga",
    
    # Kerala
    "thiruvananthapuram", "kochi", "kozhikode", "thrissur", "kollam", "alappuzha", "kannur", "thiruvalla", "palakkad", "kottayam",
    
    # Madhya Pradesh
    "bhopal", "indore", "jabalpur", "gwalior", "ujjain", "sagar", "rewa", "satna", "ratlam", "morena",
    
    # Maharashtra
    "mumbai", "pune", "nagpur", "nashik", "aurangabad", "kolhapur", "thane", "solapur", "akola", "amravati",
    
    # Manipur
    "imphal", "thoubal", "kokrajhar", "bongaigaon", "nalbari", "nagaon", "tezpur", "tinsukia", "dibrugarh", "jorhat",
    
    # Meghalaya
    "shillong", "tura", "jowai", "nongpoh", "nongstoin", "williamnagar", "baghmara", "resubelpara", "mairang", "mawkyrwat",
    
    # Mizoram
    "aizawl", "lunglei", "champhai", "serchhip", "kolasib", "mamit", "saitual", "lawngtlai", "hnahthial", "saiha",
    
    # Nagaland
    "kohima", "dimapur", "mokokchung", "tuensang", "wokha", "zunheboto", "mon", "phek", "longleng", "kiphire",
    
    # Odisha
    "bhubaneswar", "cuttack", "rourkela", "berhampur", "sambalpur", "puri", "balasore", "bhadrak", "baripada", "jajpur",
    
    # Punjab
    "amritsar", "ludhiana", "patiala", "jalandhar", "bathinda", "hoshiarpur", "moga", "firozpur", "kapurthala", "pathankot",
    
    # Rajasthan
    "jaipur", "jodhpur", "kota", "bikaner", "ajmer", "udaipur", "bhilwara", "alwar", "sikar", "tonk",
    
    # Sikkim
    "gangtok", "namchi", "mangan", "gyalshing", "singtam", "rangpo", "gezing", "ranipool", "namthang", "rishikesh",
    
    # Tamil Nadu
    "chennai", "coimbatore", "madurai", "salem", "tiruchirappalli", "tirunelveli", "erode", "thoothukudi", "nagercoil", "vellore",
    
    # Telangana
    "hyderabad", "warangal", "nizamabad", "khammam", "ramagundam", "karimnagar", "mahbubnagar", "nalgonda", "adilabad", "suryapet",
    
    # Tripura
    "agartala", "udaipur", "belonia", "dharmanagar", "kailasahar", "khowai", "sabroom", "sonamura", "teliamura", "ambassa",
    
    # Uttar Pradesh
    "lucknow", "kanpur", "ghaziabad", "agra", "meerut", "varanasi", "allahabad", "bareilly", "aligarh", "moradabad",

    # Uttarakhand
    "dehradun", "haridwar", "roorkee", "haldwani", "rudrapur", "kashipur", "ramnagar", "rishikesh", "pithoragarh", "almora",
    
    # West Bengal
    "kolkata", "howrah", "asansol", "siliguri", "durgapur", "bardhaman", "malda", "baharampur", "krishnanagar", "englishbazar",
    
    
]

import pandas as pd
import math
import numpy as np

df = pd.read_csv('data.csv')
df2d = df.to_numpy().tolist()

df2d_correct = []

i = 0
while i < len(df2d):
    if str(df2d[i][5]) == "nan" and str(df2d[i][6]) == "nan" and str(df2d[i][7]) == "nan":
        i += 1
        continue
    if ("/" in df2d[i][1]):
        i += 1
        continue
    
    target = df2d[i]
    target.pop(2)
    target.pop(6)

    statesFromLoc = []
    statesFromStates = []

    if target[1].split("-")[0].isnumeric():    
        if int(target[1].split("-")[0]) < 1901 or int(target[1].split("-")[0]) > 2017:
            i += 1
            continue
        target[1] = f'{target[1].split("-")[1]}-{target[1].split("-")[0]}'
    
    if (str(target[4]) != "nan"):
        target[4] = target[4].replace("&", "and")
        
    if (str(target[5]) != "nan"):
        target[5] = target[5].replace("&", "and")
        
    for state in states:
        if (str(target[4]) != "nan"):
            if state in target[4].lower():
                statesFromLoc.append(state)
        if (str(target[5]) != "nan"):
            if state in target[5].lower():
                statesFromLoc.append(state)

    if (len(statesFromLoc) == 0 and len(statesFromStates) == 0):
        # print(target[4], target[5])
        i += 1
        continue
        
    for st in statesFromLoc:
        target[4] = st
        target[0] = len(df2d_correct)
        newTar = [target[0], target[1], target[4]]
        df2d_correct.append(newTar)

    for st in statesFromStates:
        target[4] = st
        target[0] = len(df2d_correct)
        newTar = [target[0], target[1], target[4]]
        df2d_correct.append(newTar)
         
    i += 1

df2d_clean = df2d_correct
df_clean = pd.DataFrame(np.array(df2d_correct))

In [78]:
df_new = pd.read_csv('precipitate.csv')

for data in df2d_clean

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4183,Lakshadweep,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4184,Lakshadweep,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5
4185,Lakshadweep,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4
4186,Lakshadweep,2016,59.6,12.1,3.2,2.6,77.4,321.1,262.6,86.2,75.6,58.6,32.0,74.7,1065.7,71.7,83.2,745.4,165.4
4187,Lakshadweep,2017,21.3,0.9,100.2,1.8,145.7,521.9,164.2,206.2,216.0,137.1,63.5,160.1,1738.9,22.2,247.8,1108.3,360.7